:root {
    --button-margin: 4px;
    --button-border: 1px solid black;
    --button-border-radius: 8px;
}

body {
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

#main-container {
    margin-top: 30px;
    background-color: rgb(53, 65, 96);
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 550px;
    width: 310px;
    padding: 0px 15px 50px 15px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#display-container-div{
    margin: 24px;
    padding: 10px 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255, 251, 196);
    box-shadow: rgb(88, 95, 100) 3px 3px 5px 1px inset, rgba(37, 37, 37, 0.5) -3px -3px 5px 1px inset;
    border: 1px solid black;
    border-radius: 12px;
    width: 210px;
    height: 100px;
}

#display-container {
    margin: 0px;
}

#memory-display {
    font-size: 12px;
    color: rgb(76, 76, 76);
}

#numbers-operators-container {
    padding: 8px;
    display: flex;
    gap: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.43);
}
#top-row,
#upper-mid-row,
#lower-mid-row,
#bottom-row {
    display: flex;
}
#numbers-container button {
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin: var(--button-margin);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    background-color: rgb(212, 212, 212);
    
}

#operators-container {
    display: flex;
    flex-direction: column-reverse;
    height: 240px;
}

#operators-container button {
    font-size: 30px;
    width: 40px;
    height: 40px;
    margin: var(--button-margin);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    background-color: rgb(171, 105, 105);
}
#operators-container #ans-button{
    font-size: 14px;
    background-color: rgb(118, 126, 214);
}

#controls-container {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
}

#controls-container button {
   font-size: 20px;
    width: max-content;
    height: 75px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: orange;
}
#clear-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#clear-container button {
    width: 100px;
    height: 50px;
    background-color: rgb(148, 146, 146);
}
#controls-container #clear-all {
    font-size: 16px;
}

.footer{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    opacity: 80%;
    font-size: 15px;
}
.footer img  {
    aspect-ratio: 1;
    width: 18px;
    height: 18px;
    flex-shrink: none;
}
.footer div{
    display: flex;
    gap: 6px;    
    align-items: center;
    color: rgb(0, 0, 0);
}

.footer a:hover {
    transform: scale(1.05);
    transition: .2s;
}
.footer a:hover img {
    transform: rotate(1turn);
    transition: 1s;
}

a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}